  <!-- footer -->
  <footer class="mil-fw">
    <p class="mil-light-soft">
      © 2023. Book My Singer. All rights reserved.
    </p>
  </footer>
  <!-- footer end -->
</div>
</div>
</div>
<!-- content -->

<div id="whatsapp-chat">
<a href="https://api.whatsapp.com/send?phone=917021630747" target="_blank" rel="noopener noreferrer">
<img src="/img/whatsapp.png" alt="Whatsapp" class="whatsappImg" />
</a>
</div>
<div class="call-button">
<a href="tel:+917021630747">
<img src="/img/telephone.png" alt="Call" />
</a>
</div>
</body>

</html>