  <!-- footer -->
  <footer class="mil-fw">
    <p class="mil-light-soft">
      © 2023. Book My Singer. All rights reserved.
    </p>
  </footer>
  <!-- footer end -->
</div>
</div>
</div>
<!-- content -->

<div id="whatsapp-chat">
<a href="https://api.whatsapp.com/send?phone=917021630747" target="_blank" rel="noopener noreferrer">
<img src="img/whatsapp.png" alt="Whatsapp" class="whatsappImg" />
</a>
</div>
<div class="call-button">
<a href="tel:+917021630747">
<img src="img/telephone.png" alt="Call" />
</a>
</div>

<!-- Js Plugins -->
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
crossorigin="anonymous"></script>
<!-- jQuery js -->
<script src="js/jquery.min.js"></script>
<!-- swup js -->
<script src="js/swup.min.js"></script>
<!-- swup body class plugin js -->
<script src="js/SwupBodyClassPlugin.min.js"></script>
<!-- swiper js -->
<script src="js/swiper.min.js"></script>
<!-- gsap js -->
<script src="js/gsap.min.js"></script>
<!-- scroll smoother -->
<script src="js/smooth-scroll.js"></script>
<!-- scroll trigger js -->
<script src="js/ScrollTrigger.min.js"></script>
<!-- parallax js -->
<script src="js/parallax.js"></script>
<!-- courtney js -->
<script src="js/main.js"></script>
</body>

</html>