<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Manup Template" />
  <meta name="keywords" content="Manup, unica, creative, html" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    Book my Singer | Book Live Singers, Bands & Celebrities for your events
  </title>

  <!-- Css Styles -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WMP6WBM');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMP6WBM"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- top bar -->
  <div class="mil-top-panel">
    <!-- You need to remove the "mil-dot" class if you don't need a dot -->
    <a href="/" class="mil-logo"><img src="/img/book-my-singer-logo.png" alt="Logo" /></a>

    <div class="mil-navigation">
      <nav id="swupMenu" class="mil-menu-transition">
        <ul>
          <li class="mil-has-children mil-active">
            <a href="">Home</a>
          </li>
          <li class="mil-has-children">
            <a href="/about-us.html">About</a>
          </li>
          <li class="mil-has-children">
            <a href="">Singers</a>
          </li>
          <li class="mil-has-children">
            <a href="contact.html">Events</a>
          </li>
          <li class="mil-has-children">
            <a href="">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="mil-top-panel-btns">
      <a href="contact.html" class="mil-contact-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
          <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
          <polyline points="22,6 12,13 2,6"></polyline>
        </svg>
      </a>

      <div class="mil-menu-btn">
        <span></span>
      </div>
    </div>
  </div>
  <!-- top bar end -->