<!-- <div id="myModal" class="modal">
  <div class="modal-content">
      <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
        <iframe class="justify-content-center align-items-center" width="560" height="315" src="https://www.youtube.com/embed/inAICrTq1Gk?si=D-R-9E0BNHPN4YCB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <button class="call" onclick="window.location.href='tel:+123456789'">Call</button>
  </div>
</div> -->

<div class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Featured Videos</h3>
  </div>

  <!-- featured videos -->
  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4 videos">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="inAICrTq1Gk"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4 videos">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="oG6FQaL2vmQ"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4 videos">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="VeEj_vWOQ5E"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4 videos">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="DRrIobGaW6Q"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4 videos">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="y50e6l7nh5U"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4 videos">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="0OLiuySWIhw"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4 videos">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="ZI-b6d6Fn4g"></div>
          </div>
        </span>
      </div>
    </div>
    <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
      Show More Videos
    </button>
  </section>
  <!-- featured videos end -->

  <div class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Music Videos</h3>
  </div>

  <!-- featured videos -->
  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4 videos">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="ZLKclm1A18s"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4 videos">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="4I-QAoguV3s"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4 videos">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="1PmT4MuA3EU"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4 videos">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="vNN_IkQo6h0"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4 videos">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="C1nk5oKnmqw"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4 videos">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="wGf29w121wA"></div>
          </div>
        </span>
      </div>
    </div>
    <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
      Show More Videos
    </button>
  </section>
  <!-- featured videos end -->

  <!--Artists start-->
  <div id="artist" class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Artists</h3>
  </div>

  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-2 buts home">
        <a style="text-decoration: none;" href="/artist-category/singers/singers">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/artist-type/singer.svg" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Singers</h5>
            <p class="mil-up mil-mb-30 hide-on-mobile">
              Enchant your events with a diverse lineup of talented
              singers!
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-2 buts home">
        <a style="text-decoration: none;" href="/artist-category/live-bands/live-music-bands">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/artist-type/band.svg" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Bands</h5>
            <p class="mil-up mil-mb-30 hide-on-mobile">
              Discover the perfect band for your event and create lasting
              memories.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-2 buts home">
        <a style="text-decoration: none;" href="/artist-category/musicians/musician">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/artist-type/musician.svg" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Musician</h5>
            <p class="mil-up mil-mb-30 hide-on-mobile">
              Melodies for every occasion: Book musicians for
              unforgettable events!
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-2 buts home">
        <a style="text-decoration: none;" href="/artist-category/dj/dj">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/artist-type/dj.svg" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">DJ</h5>
            <p class="mil-up mil-mb-30 hide-on-mobile">
              Elevate your events with a diverse DJ book for every
              occasion!
            </p>
          </div>
        </a>
      </div>
    </div>
    <a href="/artist"><button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
        Show More Artist
      </button></a>
  </section>
  <!-- artists end -->

  <!-- events -->
  <div id="event" class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Events</h3>
  </div>

  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-2 buts home">
        <a style="text-decoration: none;" href="/event-category/corporate">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/events-type/corporate.svg" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Corporate</h5>
            <p class="mil-up mil-mb-30 hide-on-mobile">
              Elevate your corporate events with top live singers, bands &
              celebrities
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-2 buts home">
        <a style="text-decoration: none;" href="/event-category/wedding">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/events-type/wedding.svg" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Wedding</h5>
            <p class="mil-up mil-mb-30 hide-on-mobile">
              Enjoy a wedding celebration with the best live bands,
              singers, and celebrities to perform.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-2 buts home">
        <a style="text-decoration: none;" href="/event-category/college">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up college">
              <img src="img/events-type/college.svg" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">College</h5>
            <p class="mil-up mil-mb-30 hide-on-mobile">
              Bring the campus to life! Get the best musicians, bands, and
              celebrities for college events.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-2 buts home">
        <a style="text-decoration: none;" href="/event-category/house-parties/house-parties-in-mumbai">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/events-type/house.svg" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">House</h5>
            <p class="mil-up mil-mb-30 hide-on-mobile">
              Transform house gatherings with live entertainment! Book
              singers, bands.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-2 buts home">
        <a style="text-decoration: none;" href="/event-category/private/private-events">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/events-type/private.svg" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Private</h5>
            <p class="mil-up mil-mb-30 hide-on-mobile">
              Spice up your private parties! Get top singers, bands &
              other musicians.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-2 buts home">
        <a style="text-decoration: none;" href="/event-category/virtual/virtual-events">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/events-type/virtual.svg" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Virtual</h5>
            <p class="mil-up mil-mb-30 hide-on-mobile">
              Bringing stars to your screen! Book Singers, Bands & Celebs
              for virtual events that shine.
            </p>
          </div>
        </a>
      </div>
    </div>
    <a href="/event-category"><button class="show-more-btn"
        style="text-align: center; display: block; margin: 0 auto">
        Show More Events
      </button></a>
  </section>
  <!-- events end -->

  <div id="videos" class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Corporate Videos</h3>
  </div>

  <!-- videos -->
  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="VeEj_vWOQ5E"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="qUxT_bwBXik"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="OQXqdQPCNUg"></div>
          </div>
        </span>
      </div>
    </div>
  </section>
  <!-- videos end -->

  <div class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Wedding Videos</h3>
  </div>

  <!-- videos -->
  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="oG6FQaL2vmQ"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="DRrIobGaW6Q"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="DYg9W2-Q9ic"></div>
          </div>
        </span>
      </div>
    </div>
  </section>
  <!-- videos end -->

  <div class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Mayra Videos</h3>
  </div>

  <!-- videos -->
  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="_kpbBCbcT2s"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="jz2EwKExnHw"></div>
          </div>
        </span>
      </div>
    </div>
  </section>
  <!-- videos end -->

  <div class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Mehndi Videos</h3>
  </div>

  <!-- videos -->
  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="ccMNdZD7Axs"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="Ki1wTFvnL4I"></div>
          </div>
        </span>
      </div>
    </div>
  </section>
  <!-- videos end -->

  <!-- featured artists -->
  <div class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Featured Artists</h3>
  </div>

  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <a href="/artist/singer-band/krishna-pandey-live">
        <div class="col-lg-2">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up artist">
              <img src="img/featured-artists/krishna-pandey.webp" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Krishna Pandey</h5>
            <div class="mil-up">
              <a href="/artist/singer-band/krishna-pandey-live" class="mil-link mil-icon-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-arrow-right">
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <polyline points="12 5 19 12 12 19"></polyline>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </a>
      <div class="col-lg-2">
        <a href="/artist/singer-band/abhigyan-das-live">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up artist">
              <img src="img/featured-artists/abhigyan-das.webp" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Abhigyan Das</h5>
            <div class="mil-up">
              <a href="/artist/singer-band/abhigyan-das-live" class="mil-link mil-icon-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-arrow-right">
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <polyline points="12 5 19 12 12 19"></polyline>
                </svg>
              </a>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="/artist/singer-band/kunal-rajbhatt">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up artist">
              <img src="img/featured-artists/kunal.webp" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Kunal Rajbhatt</h5>
            <div class="mil-up">
              <a href="/artist/singer-band/kunal-rajbhatt" class="mil-link mil-icon-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-arrow-right">
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <polyline points="12 5 19 12 12 19"></polyline>
                </svg>
              </a>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="/artist/singer-band/salman-ali">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up artist">
              <img src="img/featured-artists/salman.webp" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Salman Ali</h5>
            <div class="mil-up">
              <a href="/artist/singer-band/salman-ali" class="mil-link mil-icon-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-arrow-right">
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <polyline points="12 5 19 12 12 19"></polyline>
                </svg>
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>
    <a href="/artist"><button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
        Show More Artists
      </button></a>
  </section>
  <!-- featured artists end -->

  <!--Celebrities-->
  <div class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Celebrities with us</h3>
  </div>

  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-2">
        <div class="mil-icon-box mil-center mil-mb-60">
          <div class="mil-service-icon mil-up artist">
            <a href="/artist/singer-band/arijit-singh">
              <img src="img/celebrities/arijit-singh.webp" alt="icon" class="mil-mb-30" />
            </a>
          </div>
          <a href="/artist/singer-band/arijit-singh">
            <h5 class="mil-up mil-mb-30">Arijit Singh</h5>
          </a>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="mil-icon-box mil-center mil-mb-60">
          <div class="mil-service-icon mil-up artist">
            <a href="/artist/singer-band/shreya-ghoshal">
              <img src="img/celebrities/shreya-ghoshal.webp" alt="icon" class="mil-mb-30" /></a>
          </div>
          <a href="/artist/singer-band/shreya-ghoshal">
            <h5 class="mil-up mil-mb-30">Shreya Ghoshal</h5>
          </a>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="mil-icon-box mil-center mil-mb-60">
          <div class="mil-service-icon mil-up artist">
            <a href="/artist/singer-band/sonu-nigam">
              <img src="img/celebrities/sonu-nigam.webp" alt="icon" class="mil-mb-30" /></a>
          </div>
          <a href="/artist/singer-band/sonu-nigam">
            <h5 class="mil-up mil-mb-30">Sonu Nigam</h5>
          </a>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="mil-icon-box mil-center mil-mb-60">
          <div class="mil-service-icon mil-up artist">
            <a href="/artist/singer-band/neha-kakkar">
              <img src="img/celebrities/neha-kakkar.webp" alt="icon" class="mil-mb-30" /></a>
          </div>
          <a href="/artist/singer-band/neha-kakkar">
            <h5 class="mil-up mil-mb-30">Neha Kakkar</h5>
          </a>
        </div>
      </div>
    </div>
    <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
      Show More Celebrities
    </button>
  </section>
  <!--Celebrities end-->

  <div id="gallery" class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Gallery</h3>
  </div>
  <div class="section-wrapper pl-60 pr-60 gallery-title">
    <div class="bostami-section-title-wrap mb-30">
    </div>
    <div class="row justify-content-between align-items-center">
      <div class="col-6 col-md-4 mb-4">
        <a href="#" data-toggle="modal" data-target="#imageModal1">
          <img src="/img/Gallery/Krishna-Pandey-Live-Band.webp" alt="Hire Krishna Pandey Live"
            title="Krishna Pandey Live"
            description="Hire Krishna Pandey Live for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Krishna Pandey Live" class="img-fluid rounded">
        </a>
      </div>

      <!-- Modal for Image 1 -->
      <div class="modal fade" id="imageModal1" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="imageModalLabel1">Krishna Pandey Live Band
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <img src="/img/Gallery/Krishna-Pandey-Live-Band.webp" alt="Hire Krishna Pandey Live"
            title="Krishna Pandey Live"
            description="Hire Krishna Pandey Live for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Krishna Pandey Live" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 mb-4">
        <a href="#" data-toggle="modal" data-target="#imageModal2">
          <img src="/img/Gallery/Pooja-Tiwari.webp" alt="Hire Pooja Tiwari"
            title="Pooja Tiwari"
            description="Hire Pooja Tiwari for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Pooja Tiwari" class="img-fluid rounded">
        </a>
      </div>

      <!-- Modal for Image 2 -->
      <div class="modal fade" id="imageModal2" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel2"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="imageModalLabel2">Pooja Tiwari Performing in Live Band
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <img src="/img/Gallery/Pooja-Tiwari.webp" alt="Hire Pooja Tiwari"
            title="Pooja Tiwari"
            description="Hire Pooja Tiwari for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Pooja Tiwari" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 mb-4">
        <a href="#" data-toggle="modal" data-target="#imageModal3">
          <img src="/img/Gallery/DJ-Shuham-Solanki.webp" alt="Hire DJ Shubham Solanki"
            title="DJ Shubham Solanki"
            description="Hire DJ Shubham Solanki for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book DJ Shubham Solanki" class="img-fluid rounded">
        </a>
      </div>

      <!-- Modal for Image 3 -->
      <div class="modal fade" id="imageModal3" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel3"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="imageModalLabel3">DJ Shubham Solanki performing in an Event
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <img src="/img/Gallery/DJ-Shuham-Solanki.webp" alt="Hire DJ Shubham Solanki"
            title="DJ Shubham Solanki"
            description="Hire DJ Shubham Solanki for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book DJ Shubham Solanki" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 mb-4">
        <a href="#" data-toggle="modal" data-target="#imageModal4">
          <img src="/img/Gallery/Kunal-Rajbhatt.webp" alt="Hire Kunal Rajbhatt"
            title="Kunal Rajbhatt"
            description="Hire Kunal Rajbhatt for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Kunal Rajbhatt" class="img-fluid rounded">
        </a>
      </div>

      <!-- Modal for Image 4 -->
      <div class="modal fade" id="imageModal4" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel4"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="imageModalLabel4">Kunal Rajbhatt Performing in Corproate Event
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <img src="/img/Gallery/Kunal-Rajbhatt.webp" alt="Hire Kunal Rajbhatt"
            title="Kunal Rajbhatt"
            description="Hire Kunal Rajbhatt for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Kunal Rajbhatt" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 mb-4">
        <a href="#" data-toggle="modal" data-target="#imageModal5">
          <img src="/img/Gallery/Pratyaksh-Rajbhatt.webp" alt="Hire Pratyaksh Rajbhatt"
            title="Pratyaksh Rajbhatt"
            description="Hire Pratyaksh Rajbhatt for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Pratyaksh Rajbhatt" class="img-fluid rounded">
        </a>
      </div>

      <!-- Modal for Image 5 -->
      <div class="modal fade" id="imageModal5" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel5"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="imageModalLabel5">Pratyaksh Rajbhatt Performing in Live Band
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <img src="/img/Gallery/Pratyaksh-Rajbhatt.webp" alt="Hire Pratyaksh Rajbhatt"
            title="Pratyaksh Rajbhatt"
            description="Hire Pratyaksh Rajbhatt for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Pratyaksh Rajbhatt" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 mb-4">
        <a href="#" data-toggle="modal" data-target="#imageModal6">
          <img src="/img/Gallery/Krishna-Pandey-Live-with-Shahid-Kapoor.webp" alt="Krishna Pandey Live Band With Shahid Kapoor"
            title="Krishna Pandey Live Band with Shahid Kapoor Performing at Shahid Kapoor's House"
            description="Hire Krishna Pandey Live Band for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Krishna Pandey Live Band" class="img-fluid rounded">
        </a>
      </div>

      <!-- Modal for Image 6 -->
      <div class="modal fade" id="imageModal6" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel6"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="imageModalLabel6">Krishna Pandey Live Performing at Shahid Kapoor's House
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <img src="/img/Gallery/Krishna-Pandey-Live-with-Shahid-Kapoor.webp" alt="Krishna Pandey Live Band With Shahid Kapoor"
            title="Krishna Pandey Live Band with Shahid Kapoor Performing at Shahid Kapoor's House"
            description="Hire Krishna Pandey Live Band for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Krishna Pandey Live Band" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 mb-4">
        <a href="#" data-toggle="modal" data-target="#imageModal7">
          <img src="/img/Gallery/Krishna-Pandey-Live-with-Nassruddin-Shah-&-Ratna-Pathak-Shah.webp" alt="Krishna Pandey Live Band With Nassruddin Shah and Ratna Pathak Shah"
            title="Krishna Pandey Live Band with Nasruddin Shah and Ratna Pathak Shah"
            description="Hire Krishna Pandey Live Band for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Krishna Pandey Live Band" class="img-fluid rounded">
        </a>
      </div>

      <!-- Modal for Image 7 -->
      <div class="modal fade" id="imageModal7" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel7"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="imageModalLabel7">Krishna Pandey Live Band with Nasruddin Shah and Ratna Pathak Shah
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <img src="/img/Gallery/Krishna-Pandey-Live-with-Nassruddin-Shah-&-Ratna-Pathak-Shah.webp" alt="Krishna Pandey Live Band With Nassruddin Shah and Ratna Pathak Shah"
            title="Krishna Pandey Live Band with Nasruddin Shah and Ratna Pathak Shah"
            description="Hire Krishna Pandey Live Band for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Krishna Pandey Live Band" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 mb-4">
        <a href="#" data-toggle="modal" data-target="#imageModal8">
          <img src="/img/Gallery/Krishna-Pandey-Live-in-Daman.webp" alt="Krishna Pandey Live Band performing in Daman in Sangeet Event"
            title="Krishna Pandey Live Band performing in Daman in Sangeet Event organised by Book My Singer"
            description="Hire Krishna Pandey Live Band for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Krishna Pandey Live Band" class="img-fluid rounded">
        </a>
      </div>

      <!-- Modal for Image 8 -->
      <div class="modal fade" id="imageModal8" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel8"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="imageModalLabel8">Krishna Pandey Live Band performing in Daman in a Sangeet Event
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <img src="/img/Gallery/Krishna-Pandey-Live-in-Daman.webp" alt="Krishna Pandey Live Band performing in Daman in Sangeet Event"
            title="Krishna Pandey Live Band performing in Daman in Sangeet Event organised by Book My Singer"
            description="Hire Krishna Pandey Live Band for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Krishna Pandey Live Band" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 mb-4">
        <a href="#" data-toggle="modal" data-target="#imageModal9">
          <img src="/img/Gallery/Dhanshree-Korgaonkar-wedding-event.webp" alt="Dhanshree Korgaonkar Performing in a Wedding Event"
            title="Dhanshree Korgaonkar performing in Wedding Event organised by Book My Singer"
            description="Hire Dhanshree Korgaonkar for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Dhanshree Korgaonkar" class="img-fluid rounded">
        </a>
      </div>

      <!-- Modal for Image 9 -->
      <div class="modal fade" id="imageModal9" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel9"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="imageModalLabel9">Dhanshree Korgaonkar performing in a Wedding Event.
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <img src="/img/Gallery/Dhanshree-Korgaonkar-wedding-event.webp" alt="Dhanshree Korgaonkar Performing in a Wedding Event"
            title="Dhanshree Korgaonkar performing in Wedding Event organised by Book My Singer"
            description="Hire Dhanshree Korgaonkar for Corporate Events, Wedding Events, College Events, Private Events, House Parties, Virtual Parties and many more from Book My Singer"
            caption="Book Dhanshree Korgaonkar" class="img-fluid">
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  </div>

  <div class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Latest Events</h3>
  </div>

  <!-- events blog -->
  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4">
        <a href="/blog/hire-live-ghazal-singers-and-bands-for-wedding" class="mil-blog-card mil-mb-60">
          <div class="mil-cover mil-up">
            <img src="img/events-img/event1.webp" alt="cover" />
            <div class="mil-link mil-icon-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-arrow-right">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </div>
          </div>
          <div class="mil-descr">
            <h4 class="mil-up mil-mb-30">
              DJ Based Band | Corporate Event | HDFC Life | Krishna Pandey Live | Taj Lands Ends Bandra
            </h4>
            <p class="mil-up">
              DJ Based Band for a corporate event of HDFC Life organised by Book My Singer
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="/artist-category/musicians/guitarist" class="mil-blog-card mil-mb-60">
          <div class="mil-cover mil-up">
            <img src="img/events-img/event2.webp" alt="cover" />
            <div class="mil-link mil-icon-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-arrow-right">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </div>
          </div>
          <div class="mil-descr">
            <h4 class="mil-up mil-mb-30">
              Sindhi Singer | Wedding Sangeet | The Club Andheri West | Book My Singer
            </h4>
            <p class="mil-up">
              Sindhi Weddinh Sangeet Event at The Club Andheri West, organised by Book My Singer
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="/blog/hire-live-singers-for-wedding" class="mil-blog-card mil-mb-60">
          <div class="mil-cover mil-up">
            <img src="img/events-img/event3.webp" alt="cover" />
            <div class="mil-link mil-icon-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-arrow-right">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </div>
          </div>
          <div class="mil-descr">
            <h4 class="mil-up mil-mb-30">
              Hyderabad Novotel Hotel | Wedding Sangeet | Krishna Pandey Live
            </h4>
            <p class="mil-up">
              Wedding Sangeet Event at Hyderabad Novotel Hotel by Krishna Pandey Live organised by Book My Singer
            </p>
          </div>
        </a>
      </div>
    </div>
    <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
      Show More Events
    </button>
  </section>
  <!-- events blog end -->

  <div id="blog" class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Latest Blog</h3>
  </div>

  <!-- blog -->
  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4">
        <a class="mil-blog-card mil-mb-60" href="/blog/dj-for-wedding">
          <div class="mil-cover mil-up">
            <img
              src="https://book-my-singer.s3.ap-south-1.amazonaws.com/website-assets/blog-thumbnail/Hire+DJ+for+wedding.webp"
              alt="Dj For Wedding" />
            <div class="mil-link mil-icon-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-arrow-right">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </div>
          </div>
          <div class="mil-descr">
            <h4 class="mil-up mil-mb-15">Hire DJ Player For Wedding Event</h4>
            <p class="mil-up">With our amazing DJ services, you can book a DJ for wedding that can transform your
              wedding into a memorable dancing extravaganza.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a class="mil-blog-card mil-mb-60" href="/blog/female-singers-for-corporate-events">
          <div class="mil-cover mil-up">
            <img
              src="https://book-my-singer.s3.ap-south-1.amazonaws.com/website-assets/blog-thumbnail/Hire+Female+Singer+for+Corporate.webp"
              alt="Hire Female Singers For Corporate Events" />
            <div class="mil-link mil-icon-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-arrow-right">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </div>
          </div>
          <div class="mil-descr">
            <h4 class="mil-up mil-mb-15">Hire Female Singers For Corporate Events</h4>
            <p class="mil-up">Elevate the sophistication and charm of your corporate events by booking one of our
              exceptional female singers.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a class="mil-blog-card mil-mb-60" href="/blog/hire-singers-for-mayra-bhaat">
          <div class="mil-cover mil-up">
            <img
              src="https://book-my-singer.s3.ap-south-1.amazonaws.com/website-assets/blog-thumbnail/Hire+Singer+for+Mayra+Bhaat.webp"
              alt="Hire Singers For Mayra Bhaat" />
            <div class="mil-link mil-icon-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-arrow-right">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </div>
          </div>
          <div class="mil-descr">
            <h4 class="mil-up mil-mb-15">Hire Singers For Mayra Bhaat</h4>
            <p class="mil-up">Hire Singers for Mayra Bhaat in Rajasthani Marwari Wedding from Book My Singer.</p>
          </div>
        </a>
      </div>
    </div>
    <a href="/blog">
      <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
        Show More Blogs
      </button>
    </a>
  </section>
  <!-- blog end -->

  <div class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Reviews</h3>
  </div>

  <!-- revievs -->
  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4">
        <div class="mil-icon-box mil-center mil-mb-60 testimonial-border">
          <h5 class="mil-up mil-mb-30">"Amazing Talent at Our Wedding"</h5>
          <p class="mil-up mil-mb-30 test-name">
            Book My Singer made our wedding unforgettable with a soulful performance. The singer they provided
            was phenomenal, setting the perfect mood for our special day.
          </p>
          <img src="img/reviews-img/Narendra-gauhar.jpeg" alt="icon" class="review-img" />
          <p class="mil-up mil-mb-30 test-name">Narendra Gauhar</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mil-icon-box mil-center mil-mb-60 testimonial-border">
          <h5 class="mil-up mil-mb-30">"Musical Delight for Corporate Event"</h5>
          <p class="mil-up mil-mb-30 test-name">
            Book My Singer delivered an exceptional musician for our corporate event. The performance was
            seamless, elevating the event's ambiance and impressing all our attendees
          </p>
          <img src="img/reviews-img/harsh-paradise-events.jpg" alt="icon" class="review-img" />
          <p class="mil-up mil-mb-30 test-name">Harsh Mehta</p>
        </div>
      </div>
      <!-- <div class="col-lg-4">
        <div class="mil-icon-box mil-center mil-mb-60 testimonial-border">
          <h5 class="mil-up mil-mb-30">"Rocking Night with Live Band"</h5>
          <p class="mil-up mil-mb-30 test-name">
            Book My Singer arranged a fantastic live band that rocked our party. The band's energy and music had
            everyone dancing the night away. Highly recommended!
          </p>
          <img src="img/reviews-img/Narendra-gauhar.jpeg" alt="icon" class="review-img" />
          <p class="mil-up mil-mb-30 test-name">Anand Sharma</p>
        </div>
      </div> -->
    </div>
    <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
      Show More Reviews
    </button>
  </section>
  <!-- revievs end -->

  <div class="mil-section-title mil-up">
    <div class="mil-divider"></div>
    <h3>Testinomials Video</h3>
  </div>

  <!-- testimonial videos -->
  <section class="mil-p-90-30">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="mfOx5pFbXQQ"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="w4sG8KULXf0"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="fuZKlREuxPM"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="FhIQGMzjkw4"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="eEESioOOYcQ"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="C0RRiIXSRUs"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="_9g6Pju57rE"></div>
          </div>
        </span>
      </div>
      <div class="col-lg-4">
        <span class="mil-blog-card mil-mb-60">
          <div class="col-xxl-6 col-xl-6 col-lg-6 video">
            <div class="youtube-player" videosource="youtube" data-id="hN_dcjCNHMs"></div>
          </div>
        </span>
      </div>
    </div>
    <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
      Show More Testinomials Video
    </button>
  </section>
  <!-- testimonial videos end -->

  <script>
    // Script to open the modal instantly when the page loads
    window.onload = function() {
        document.getElementById('myModal').style.display = 'block';
    };
</script>