<!-- Pop Up Form -->
<div
  class="modal fade popups"
  id="contactModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="contactModalLabel"
  aria-hidden="true"
  style="margin-top: 5%"
>
  <div class="modal-dialog" role="document">
    <div
      class="modal-content"
      style="background-color: #202124; color: #f44336"
    >
      <div class="modal-header">
        <h5
          class="modal-title"
          id="contactModalLabel"
          style="color: #f44336; padding-top: 4%"
        >
          Contact Form
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          style="margin-top: 1%; color: white"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="step1">
          <h3>What are you looking for?</h3>

          <section class="mil-p-90-30 contact-section artist-type-section">
            <div class="row justify-content-between align-items-center">
              <div class="col-lg-2 but" id="Singer">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img
                      src="https://bookmysinger.com/img/artist-type/singer.svg"
                      alt="icon"
                      class="mil-mb-30"
                    />
                  </div>
                  <h5 class="mil-up mil-mb-30">Singers</h5>
                </div>
              </div>
              <div class="col-lg-2 but" id="Band">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img
                      src="https://bookmysinger.com/img/artist-type/band.svg"
                      alt="icon"
                      class="mil-mb-30"
                    />
                  </div>
                  <h5 class="mil-up mil-mb-30">Bands</h5>
                </div>
              </div>
              <div class="col-lg-2 but" id="Musician">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img
                      src="https://bookmysinger.com/img/artist-type/musician.svg"
                      alt="icon"
                      class="mil-mb-30"
                    />
                  </div>
                  <h5 class="mil-up mil-mb-30">Musician</h5>
                </div>
              </div>
              <div class="col-lg-2 but" id="DJ">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img
                      src="https://bookmysinger.com/img/artist-type/dj.svg"
                      alt="icon"
                      class="mil-mb-30"
                    />
                  </div>
                  <h5 class="mil-up mil-mb-30">DJ</h5>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="step2">
          <h3>What type of event you have?</h3>

          <section class="mil-p-90-30 contact-section event-type-section">
            <div class="row justify-content-between align-items-center">
              <div class="col-lg-2 but" id="corporate">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img
                      src="https://bookmysinger.com/img/events-type/corporate.svg"
                      alt="icon"
                      class="mil-mb-30"
                    />
                  </div>
                  <h5 class="mil-up mil-mb-30">Corporate Event</h5>
                </div>
              </div>
              <div class="col-lg-2 but" id="Wedding">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img
                      src="https://bookmysinger.com/img/events-type/wedding.svg"
                      alt="icon"
                      class="mil-mb-30"
                    />
                  </div>
                  <h5 class="mil-up mil-mb-30">Wedding</h5>
                </div>
              </div>
              <div class="col-lg-2 but" id="House">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img
                      src="https://bookmysinger.com/img/events-type/house.svg"
                      alt="icon"
                      class="mil-mb-30"
                    />
                  </div>
                  <h5 class="mil-up mil-mb-30">House Party</h5>
                </div>
              </div>
              <div class="col-lg-2 but" id="Private">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img
                      src="https://bookmysinger.com/img/events-type/private.svg"
                      alt="icon"
                      class="mil-mb-30"
                    />
                  </div>
                  <h5 class="mil-up mil-mb-30">Private Event</h5>
                </div>
              </div>
              <div class="col-lg-2 but" id="College">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img
                      src="https://bookmysinger.com/img/events-type/college.svg"
                      alt="icon"
                      class="mil-mb-30"
                    />
                  </div>
                  <h5 class="mil-up mil-mb-30">College Event</h5>
                </div>
              </div>
              <div class="col-lg-2 but" id="Virtual">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img
                      src="https://bookmysinger.com/img/events-type/virtual.svg"
                      alt="icon"
                      class="mil-mb-30"
                    />
                  </div>
                  <h5 class="mil-up mil-mb-30">Virtual Event</h5>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="step3">
          <h3>Provide More Event Details</h3>
          <label for="location">Event City:</label>
          <input
            class="popup"
            type="text"
            id="location"
            name="location"
            placeholder="Event City"
          />
          <label for="date">Event Date:</label>
          <input
            class="popup"
            type="date"
            id="date"
            name="date"
            placeholder="Event Date"
          />
          <label for="budget">Budget in rupees:</label>
          <input
            class="popup"
            type="number"
            id="budget"
            name="budget"
            placeholder="Budget in rupees"
          />

          <button id="nextBtn" style="background-color: #f44336">Next</button>
        </div>

        <div class="step4">
          <h3>Last, Provide your details</h3>
          <label for="name">Name:</label>
          <input
            class="popup"
            type="text"
            name="name"
            id="name"
            placeholder="Your Name"
          />
          <label for="contact">Contact No::</label>
          <input
            class="popup"
            type="number"
            name="contact"
            id="contact"
            placeholder="Contact Number"
          />
          <label for="email">Email ID:</label>
          <input
            class="popup"
            type="email"
            name="email"
            id="email"
            placeholder="Email ID"
          />
          <input
            class="popup"
            type="text"
            name="mobile"
            id="mobile"
            placeholder="Mobile No"
            style="display: none"
          />

          <div
            class="g-recaptcha"
            style="margin-top: 5%; margin-bottom: 5%"
            data-sitekey="6LcO1TAoAAAAAFgMNRsIWJo_RIcv3qI5trmTiRdH"
          ></div>

          <button id="submitBtn" style="background-color: #f44336">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
