<%- include("partials/header"); -%>

<div
  id="artist"
  class="mil-section-title mil-up"
  style="padding-top: 5%; padding-bottom: 5%; padding-bottom: 30px"
>
  <div class="mil-divider"></div>
  <h3 style="padding-top: 4%">Enquiry Form</h3>
</div>

<div class="enquiry-form">
  <div class="step1">
    <h3 style="padding-left: 5%">What are you looking for?</h3>

    <section class="mil-p-90-30">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-2 buts" id="Singer">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img
                src="img/artist-type/singer.svg"
                alt="icon"
                class="mil-mb-30"
              />
            </div>
            <h5 class="mil-up mil-mb-30">Singers</h5>
          </div>
        </div>
        <div class="col-lg-2 buts" id="Band">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img
                src="img/artist-type/band.svg"
                alt="icon"
                class="mil-mb-30"
              />
            </div>
            <h5 class="mil-up mil-mb-30">Bands</h5>
          </div>
        </div>
        <div class="col-lg-2 buts" id="Musician">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img
                src="img/artist-type/musician.svg"
                alt="icon"
                class="mil-mb-30"
              />
            </div>
            <h5 class="mil-up mil-mb-30">Musician</h5>
          </div>
        </div>
        <div class="col-lg-2 buts" id="DJ">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/artist-type/dj.svg" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">DJ</h5>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="step2">
    <h3 style="padding-left: 5%">What type of Event you are planning?</h3>

    <section class="mil-p-90-30">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-4 buts" id="Corproate Event">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img
                src="img/events-type/corporate.svg"
                alt="icon"
                class="mil-mb-30"
              />
            </div>
            <h5 class="mil-up mil-mb-30">Corporate Events</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="Wedding Event">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img
                src="img/events-type/wedding.svg"
                alt="icon"
                class="mil-mb-30"
              />
            </div>
            <h5 class="mil-up mil-mb-30">Wedding Events</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="College Event">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img
                src="img/events-type/college.svg"
                alt="icon"
                class="mil-mb-30"
              />
            </div>
            <h5 class="mil-up mil-mb-30">College Events</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="House Party">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img
                src="img/events-type/house.svg"
                alt="icon"
                class="mil-mb-30"
              />
            </div>
            <h5 class="mil-up mil-mb-30">House Parties</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="Private Party">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img
                src="img/events-type/private.svg"
                alt="icon"
                class="mil-mb-30"
              />
            </div>
            <h5 class="mil-up mil-mb-30">Private Events</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="Virtual Event">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img
                src="img/events-type/virtual.svg"
                alt="icon"
                class="mil-mb-30"
              />
            </div>
            <h5 class="mil-up mil-mb-30">Virtual Events</h5>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="step3">
    <h3>Event Location</h3>
    <section class="mil-p-90-30">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-4 buts" id="Mumbai">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/city/mumbai.png" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Mumbai</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="Delhi-NCR">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/city/ncr.avif" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Delhi NCR</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="Bengalaru">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/city/bang.png" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Bengaluru</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="Hyderabad">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/city/hyd.png" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Hyderabad</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="Ahemdabad">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/city/ahd.avif" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Ahemdabad</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="Chandigarh">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/city/chd.avif" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Chandigarh</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="Chennai">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/city/chen.avif" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Chennai</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="Pune">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/city/pune.png" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Pune</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="Kolkata">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/city/kolk.avif" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Kolkata</h5>
          </div>
        </div>
        <div class="col-md-4 buts" id="Kochi">
          <div class="mil-icon-box mil-center mil-mb-60">
            <div class="mil-service-icon mil-up">
              <img src="img/city/koch.avif" alt="icon" class="mil-mb-30" />
            </div>
            <h5 class="mil-up mil-mb-30">Kochi</h5>
          </div>
        </div>
      </div>
    </section>
    <div style="margin-left: 10%; margin-right: 10%">
      <label for="customLocation"
        >Not found your city above, add manually:</label
      >
      <input
        class="popup"
        type="text"
        id="customLocation"
        name="customLocation"
        placeholder="Not found your city? Enter your city name here."
      />
      <button id="nextStep3" style="background-color: #f44336">Next</button>
    </div>
  </div>

  <div class="step4" style="margin-left: 10%; margin-right: 10%">
    <h3>Provide More Event Details</h3>
    <label for="date">Event Date:</label>
    <input
      class="popup"
      type="date"
      id="date"
      name="date"
      placeholder="Event Date"
    />
    <label for="budget">Budget in rupees:</label>
    <input
      class="popup"
      type="number"
      id="budget"
      name="budget"
      placeholder="Budget in rupees"
    />

    <button id="nextBtn" style="background-color: #f44336">Next</button>
  </div>

  <div class="step5" style="margin-left: 10%; margin-right: 10%">
    <h3>Last, Provide your details</h3>
    <label for="name">Name:</label>
    <input
      class="popup"
      type="text"
      name="name"
      id="name"
      placeholder="Your Name"
    />
    <label for="contact">Contact No:</label>
    <input
      class="popup"
      type="number"
      name="contact"
      id="contact"
      placeholder="Contact Number"
    />
    <label for="email">Email ID:</label>
    <input
      class="popup"
      type="email"
      name="email"
      id="email"
      placeholder="Email ID"
    />
    <input
      class="popup"
      type="text"
      name="mobile"
      id="mobile"
      placeholder="Mobile No"
      style="display: none"
    />

    <div
      class="g-recaptcha"
      style="margin-top: 5%; margin-bottom: 5%"
      data-sitekey="6LcO1TAoAAAAAFgMNRsIWJo_RIcv3qI5trmTiRdH"
    ></div>

    <button id="submitBtn" style="background-color: #f44336">Submit</button>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var artistType = ""; // Variable to store selected artist type
    var eventType = ""; // Variable to store selected event type
    var location = "";

    // Function to show/hide steps
    function showStep(stepClass) {
      document.querySelectorAll(".enquiry-form > div").forEach(function (step) {
        if (step.classList.contains(stepClass)) {
          step.style.display = "block";
        } else {
          step.style.display = "none";
        }
      });
    }

    // Show only the first step initially
    showStep("step1");

    // Event listener for artist type selection
    document.querySelectorAll(".step1 .buts").forEach(function (button) {
      button.addEventListener("click", function () {
        artistType = this.id;
        showStep("step2");
      });
    });

    // Event listener for event type selection
    document.querySelectorAll(".step2 .buts").forEach(function (button) {
      button.addEventListener("click", function () {
        eventType = this.id;
        showStep("step3");
      });
    });

    // Event listener for city selection or custom input
    document.querySelectorAll(".step3 .buts").forEach(function (button) {
      button.addEventListener("click", function () {
        location = this.id;
        showStep("step4");
      });
    });

    document.querySelectorAll(".step3 .buts").forEach(function (button) {
      button.addEventListener("click", function () {
        showStep("step4");
      });
    });

    document.getElementById("nextStep3").addEventListener("click", function () {
      showStep("step4");
    });

    // Event listener for Next button in step3
    document.getElementById("nextBtn").addEventListener("click", function () {
      showStep("step5");
    });

    // Event listener for form submission
    document
      .getElementById("submitBtn")
      .addEventListener("click", async function (event) {
        event.preventDefault();
        if (!location) {
          location = document.getElementById("customLocation").value;
        }
        var date = document.getElementById("date").value;
        var budget = document.getElementById("budget").value;
        var name = document.getElementById("name").value;
        var contact = document.getElementById("contact").value;
        var email = document.getElementById("email").value;
        var mobile = document.getElementById("mobile").value;

        // Make a POST request to /contact-form with form data
        var formData = {
          artistType: artistType,
          eventType: eventType,
          location: location,
          date: date,
          budget: budget,
          name: name,
          contact: contact,
          email: email,
          mobile: mobile,
          message: "Message Received",
        };

        // Replace '/contact-form' with your actual endpoint
        const response = await fetch("/contact-form", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        });

        if (response.ok) {
          window.location.href = "/success"; // Redirect to success page if form submission is successful
        } else {
          console.error("Error submitting form");
          // Handle error or display a message to the user
        }
      });
  });
</script>

<%- include("partials/footer"); -%>
