<%- include("partials/header"); -%>
<link rel="stylesheet" href="/css/contact-form.css">

  <!-- content -->
  <div class="mil-content">
    <div class="mil-scroll-wrapper transition-fade" id="swupMain">
      <div class="mil-container-fw">
        <!-- banner -->
        <section class="mil-side-banner mil-center">
          <div class="mil-banner-top mil-up"></div>
          <div class="mil-banner-title">
            <div class="mil-upper mil-dark mil-up mil-mb-30">
              www.bookmysinger.com
            </div>
            <h1 class="mil-up mil-mb-30 title">
              Book Live Singers,<br />Bands & Celebrities
            </h1>
            <a href="#contact"><button class="mil-upper mil-dark mil-up mil-btn mil-sm-btn btn">
              Book Now
            </button></a>
          </div>
        </section>
        <!-- banner end -->

        <!--Artists start-->
        <div id="artist" class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Artists</h3>
        </div>

        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-2">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up">
                  <img src="img/artist-type/singer.svg" alt="icon" class="mil-mb-30" />
                </div>
                <h5 class="mil-up mil-mb-30">Singers</h5>
                <p class="mil-up mil-mb-30 hide-on-mobile">
                  Enchant your events with a diverse lineup of talented
                  singers!
                </p>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up">
                  <img src="img/artist-type/band.svg" alt="icon" class="mil-mb-30" />
                </div>
                <h5 class="mil-up mil-mb-30">Bands</h5>
                <p class="mil-up mil-mb-30 hide-on-mobile">
                  Discover the perfect band for your event and create lasting
                  memories.
                </p>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up">
                  <img src="img/artist-type/musician.svg" alt="icon" class="mil-mb-30" />
                </div>
                <h5 class="mil-up mil-mb-30">Musician</h5>
                <p class="mil-up mil-mb-30 hide-on-mobile">
                  Melodies for every occasion: Book musicians for
                  unforgettable events!
                </p>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up">
                  <img src="img/artist-type/dj.svg" alt="icon" class="mil-mb-30" />
                </div>
                <h5 class="mil-up mil-mb-30">DJ</h5>
                <p class="mil-up mil-mb-30 hide-on-mobile">
                  Elevate your events with a diverse DJ book for every
                  occasion!
                </p>
              </div>
            </div>
          </div>
          <a href="/artist"><button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
            Show More Artist
          </button></a>
        </section>
        <!-- artists end -->

        <!-- events -->
        <div id="events" class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Events</h3>
        </div>

        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-4">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up">
                  <img src="img/events-type/corporate.svg" alt="icon" class="mil-mb-30" />
                </div>
                <h5 class="mil-up mil-mb-30">Corporate Events</h5>
                <p class="mil-up mil-mb-30 hide-on-mobile">
                  Elevate your corporate events with top live singers, bands &
                  celebrities
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up">
                  <img src="img/events-type/wedding.svg" alt="icon" class="mil-mb-30" />
                </div>
                <h5 class="mil-up mil-mb-30">Wedding Events</h5>
                <p class="mil-up mil-mb-30 hide-on-mobile">
                  Enjoy a wedding celebration with the best live bands,
                  singers, and celebrities to perform.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up">
                  <img src="img/events-type/college.svg" alt="icon" class="mil-mb-30" />
                </div>
                <h5 class="mil-up mil-mb-30">College Events</h5>
                <p class="mil-up mil-mb-30 hide-on-mobile">
                  Bring the campus to life! Get the best musicians, bands, and
                  celebrities for college events.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up">
                  <img src="img/events-type/house.svg" alt="icon" class="mil-mb-30" />
                </div>
                <h5 class="mil-up mil-mb-30">House Parties</h5>
                <p class="mil-up mil-mb-30 hide-on-mobile">
                  Transform house gatherings with live entertainment! Book
                  singers, bands.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up">
                  <img src="img/events-type/private.svg" alt="icon" class="mil-mb-30" />
                </div>
                <h5 class="mil-up mil-mb-30">Private Events</h5>
                <p class="mil-up mil-mb-30 hide-on-mobile">
                  Spice up your private parties! Get top singers, bands &
                  other musicians.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up">
                  <img src="img/events-type/virtual.svg" alt="icon" class="mil-mb-30" />
                </div>
                <h5 class="mil-up mil-mb-30">Virtual Events</h5>
                <p class="mil-up mil-mb-30 hide-on-mobile">
                  Bringing stars to your screen! Book Singers, Bands & Celebs
                  for virtual events that shine.
                </p>
              </div>
            </div>
          </div>
          <a href="/artist"><button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
            Show More Events
          </button></a>
        </section>
        <!-- events end -->

        <!-- featured artists -->
        <div class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Featured Artists</h3>
        </div>

        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <a href="/artist/singer/krishna-pandey-live">
              <div class="col-lg-2">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up artist">
                    <img src="img/featured-artists/krishna-pandey.webp" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Krishna Pandey</h5>
                  <div class="mil-up">
                    <a href="/artist/singer/krishna-pandey-live" class="mil-link mil-icon-link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-right">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </a>
              <div class="col-lg-2">
                <a href="/artist/singer/abhigyan-das-live">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up artist">
                    <img src="img/featured-artists/abhigyan-das.webp" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Abhigyan Das</h5>
                  <div class="mil-up">
                    <a href="/artist/singer/abhigyan-das-live" class="mil-link mil-icon-link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-right">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </a>
                  </div>
                </div>
                </a>
              </div>
              <div class="col-lg-2">
                <a href="/artist/musician/kunal-rajbhatt">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up artist">
                    <img src="img/featured-artists/kunal.webp" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Kunal Rajbhatt</h5>
                  <div class="mil-up">
                    <a href="/artist/musician/kunal-rajbhatt" class="mil-link mil-icon-link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-right">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </a>
                  </div>
                </div>
                </a>
              </div>
            <div class="col-lg-2">
                <a href="/artist/singer/salman-ali">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up artist">
                    <img src="img/featured-artists/salman.webp" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Salman Ali</h5>
                  <div class="mil-up">
                    <a href="/artist/singer/salman-ali" class="mil-link mil-icon-link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-right">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </a>
                  </div>
                </div>
                </a>
              </div>
          </div>
          <a href="/artist"><button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
            Show More Artists
          </button></a>
        </section>
        <!-- featured artists end -->

        <!--Celebrities-->
        <div class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Celebrities with us</h3>
        </div>

        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
              <div class="col-lg-2">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up artist">
                    <a href="/artist/celebrity-singer/arijit-singh">
                    <img src="img/celebrities/arijit-singh.webp" alt="icon" class="mil-mb-30" />
                    </a>
                  </div>
                  <a href="/artist/celebrity-singer/arijit-singh">
                  <h5 class="mil-up mil-mb-30">Arijit Singh</h5></a>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up artist">
                    <a href="/artist/celebrity-singer/shreya-ghoshal">
                    <img src="img/celebrities/shreya-ghoshal.webp" alt="icon" class="mil-mb-30" /></a>
                  </div>
                  <a href="/artist/celebrity-singer/shreya-ghoshal">
                  <h5 class="mil-up mil-mb-30">Shreya Ghoshal</h5></a>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up artist">
                    <a href="/artist/celebrity-singer/sonu-nigam">
                    <img src="img/celebrities/sonu-nigam.webp" alt="icon" class="mil-mb-30" /></a>
                  </div>
                  <a href="/artist/celebrity-singer/sonu-nigam">
                  <h5 class="mil-up mil-mb-30">Sonu Nigam</h5></a>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up artist">
                    <a href="/artist/celebrity-singer/neha-kakkar">
                    <img src="img/celebrities/neha-kakkar.webp" alt="icon" class="mil-mb-30" /></a>
                  </div>
                  <a href="/artist/celebrity-singer/neha-kakkar">
                  <h5 class="mil-up mil-mb-30">Neha Kakkar</h5></a>
                </div>
              </div>
          </div>
          <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
            Show More Celebrities
          </button>
        </section>
        <!--Celebrities end-->

        <div id="videos" class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Latest Videos</h3>
        </div>

        <!-- videos -->
        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
              <span class="mil-blog-card mil-mb-60">
                <div class="">
                  <div class="embed-responsive embed-responsive-4by3">
                    <video controls="controls" class="video" poster="img/videos-img/blog2.webp">
                      <source
                        src="https://book-my-singer.s3.ap-south-1.amazonaws.com/Krishna+Pandey+live+in+surat%23.mp4"
                        type="video/mp4" />
                    </video>
                  </div>
                </div>
              </span>
            </div>
            <div class="col-lg-4">
              <span class="mil-blog-card mil-mb-60">
                <div class="">
                  <div class="embed-responsive embed-responsive-4by3">
                    <video controls="controls" poster="img/videos-img/blog1.webp">
                      <source
                        src="https://book-my-singer.s3.ap-south-1.amazonaws.com/Krishna+Pandey+live+in+surat%23.mp4"
                        type="video/mp4" />
                    </video>
                  </div>
                </div>
              </span>
            </div>
            <div class="col-lg-4">
              <span class="mil-blog-card mil-mb-60">
                <div class="">
                  <div class="embed-responsive embed-responsive-4by3">
                    <video controls="controls" poster="img/videos-img/blog2.webp">
                      <source
                        src="https://book-my-singer.s3.ap-south-1.amazonaws.com/Krishna+Pandey+live+in+surat%23.mp4"
                        type="video/mp4" />
                    </video>
                  </div>
                </div>
              </span>
            </div>
          </div>
          <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
            Show More Videos
          </button>
        </section>
        <!-- videos end -->

        <div class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Latest Events</h3>
        </div>

        <!-- events blog -->
        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
              <a href="/blog/hire-live-singers-for-wedding" class="mil-blog-card mil-mb-60">
                <div class="mil-cover mil-up">
                  <img src="img/events-img/blog1.webp" alt="cover" />
                  <div class="mil-link mil-icon-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-arrow-right">
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </div>
                </div>
                <div class="mil-descr">
                  <h4 class="mil-up mil-mb-30">
                    Traditional Blog Event organized by Book My Singer
                  </h4>
                  <p class="mil-up">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eius sequi commodi dignissimos.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a href="/blog/hire-live-singers-for-wedding" class="mil-blog-card mil-mb-60">
                <div class="mil-cover mil-up">
                  <img src="img/events-img/blog2.webp" alt="cover" />
                  <div class="mil-link mil-icon-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-arrow-right">
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </div>
                </div>
                <div class="mil-descr">
                  <h4 class="mil-up mil-mb-30">
                    Guitar musician event at Bangkok by Kunal Rajbhatt
                    organized by Book My Singer
                  </h4>
                  <p class="mil-up">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eius sequi commodi dignissimos.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a href="/blog/hire-live-singers-for-wedding" class="mil-blog-card mil-mb-60">
                <div class="mil-cover mil-up">
                  <img src="img/events-img/blog1.webp" alt="cover" />
                  <div class="mil-link mil-icon-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-arrow-right">
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </div>
                </div>
                <div class="mil-descr">
                  <h4 class="mil-up mil-mb-30">
                    Guitar musician event at Bangkok by Kunal Rajbhatt
                    organized by Book My Singer
                  </h4>
                  <p class="mil-up">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eius sequi commodi dignissimos.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
            Show More Events
          </button>
        </section>
        <!-- events blog end -->

        <div id="blog" class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Latest Blog</h3>
        </div>

        <!-- blog -->
        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
              <a href="/blog/hire-live-singers-for-wedding" class="mil-blog-card mil-mb-60">
                <div class="mil-cover mil-up">
                  <img src="img/blog-img/blog2.webp" alt="cover" />
                  <div class="mil-link mil-icon-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-arrow-right">
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </div>
                </div>
                <div class="mil-descr">
                  <h4 class="mil-up mil-mb-30">
                    Traditional Blog Event organized by Book My Singer
                  </h4>
                  <p class="mil-up">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eius sequi commodi dignissimos.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a href="/blog/hire-live-singers-for-wedding" class="mil-blog-card mil-mb-60">
                <div class="mil-cover mil-up">
                  <img src="img/blog-img/blog1.webp" alt="cover" />
                  <div class="mil-link mil-icon-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-arrow-right">
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </div>
                </div>
                <div class="mil-descr">
                  <h4 class="mil-up mil-mb-30">
                    Guitar musician event at Bangkok by Kunal Rajbhatt
                    organized by Book My Singer
                  </h4>
                  <p class="mil-up">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eius sequi commodi dignissimos.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a href="/blog/hire-live-singers-for-wedding" class="mil-blog-card mil-mb-60">
                <div class="mil-cover mil-up">
                  <img src="img/blog-img/blog2.webp" alt="cover" />
                  <div class="mil-link mil-icon-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-arrow-right">
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </div>
                </div>
                <div class="mil-descr">
                  <h4 class="mil-up mil-mb-30">
                    Guitar musician event at Bangkok by Kunal Rajbhatt
                    organized by Book My Singer
                  </h4>
                  <p class="mil-up">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eius sequi commodi dignissimos.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <a href="/blog">
            <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
              Show More Blogs
            </button>
          </a>
        </section>
        <!-- blog end -->

        <div class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Reviews</h3>
        </div>

        <!-- revievs -->
        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
              <div class="mil-icon-box mil-center mil-mb-60 testimonial-border">
                <h5 class="mil-up mil-mb-30">"Responsive & Helpful."</h5>
                <p class="mil-up mil-mb-30 test-name">
                  Discover the perfect band for your event and create lasting
                  memories.Discover the perfect band for your event and create
                  lasting memories.
                </p>
                <img src="img/reviews-img/Narendra-gauhar.jpeg" alt="icon" class="review-img" />
                <p class="mil-up mil-mb-30 test-name">Harsh Mehta</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mil-icon-box mil-center mil-mb-60 testimonial-border">
                <h5 class="mil-up mil-mb-30">"Responsive & Helpful."</h5>
                <p class="mil-up mil-mb-30 test-name">
                  Discover the perfect band for your event and create lasting
                  memories.Discover the perfect band for your event and create
                  lasting memories.
                </p>
                <img src="img/reviews-img/harsh-paradise-events.jpg" alt="icon" class="review-img" />
                <p class="mil-up mil-mb-30 test-name">Harsh Mehta</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mil-icon-box mil-center mil-mb-60 testimonial-border">
                <h5 class="mil-up mil-mb-30">"Responsive & Helpful."</h5>
                <p class="mil-up mil-mb-30 test-name">
                  Discover the perfect band for your event and create lasting
                  memories.Discover the perfect band for your event and create
                  lasting memories.
                </p>
                <img src="img/reviews-img/Narendra-gauhar.jpeg" alt="icon" class="review-img" />
                <p class="mil-up mil-mb-30 test-name">Harsh Mehta</p>
              </div>
            </div>
          </div>
          <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
            Show More Reviews
          </button>
        </section>
        <!-- revievs end -->

        <div class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Testinomials Video</h3>
        </div>

        <!-- testimonial videos -->
        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
              <span class="mil-blog-card mil-mb-60">
                <div class="">
                  <div class="embed-responsive embed-responsive-4by3">
                    <video controls="controls" poster="img/reviews-video-img/blog1.webp">
                      <source
                        src="https://book-my-singer.s3.ap-south-1.amazonaws.com/Krishna+Pandey+live+in+surat%23.mp4"
                        type="video/mp4" />
                    </video>
                  </div>
                </div>
              </span>
            </div>
            <div class="col-lg-4">
              <span class="mil-blog-card mil-mb-60">
                <div class="">
                  <div class="embed-responsive embed-responsive-4by3">
                    <video controls="controls" poster="img/reviews-video-img/blog2.webp">
                      <source
                        src="https://book-my-singer.s3.ap-south-1.amazonaws.com/Krishna+Pandey+live+in+surat%23.mp4"
                        type="video/mp4" />
                    </video>
                  </div>
                </div>
              </span>
            </div>
            <div class="col-lg-4">
              <span class="mil-blog-card mil-mb-60">
                <div class="">
                  <div class="embed-responsive embed-responsive-4by3">
                    <video controls="controls" poster="img/reviews-video-img/blog1.webp">
                      <source
                        src="https://book-my-singer.s3.ap-south-1.amazonaws.com/Krishna+Pandey+live+in+surat%23.mp4"
                        type="video/mp4" />
                    </video>
                  </div>
                </div>
              </span>
            </div>
          </div>
          <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
            Show More Testinomials Video
          </button>
        </section>
        <!-- testimonial videos end -->

        <div id="contact" class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Get in Touch</h3>
        </div>

        <!-- call to action -->
        <section class="mil-p-0-90">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <div class="mil-center">
                <div id="contact" class="mil-p-90-60">
                  <form id="contactForm" action="https://formsubmit.co/bookanartist2@gmail.com" method="POST"
                    class="row align-items-center">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="form-outline mb-4">
                            <label class="form-label">Name</label>
                            <input type="text" name="name" class="form-control" required autocomplete="off" />
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label">Contact Number</label>
                            <input type="text" name="contact" class="form-control" autocomplete="off" required />
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label">Event Type</label>
                            <select name="eventType" class="form-control" id="artistTypeSelect" required>
                              <option value="corporate">Corporate Event</option>
                              <option value="wedding">Wedding Event</option>
                              <option value="college">College Event</option>
                              <option value="private">Private Event</option>
                              <option value="house">House Parties</option>
                              <option value="virtual">Virtual Event</option>
                              <option value="other">Any Other</option>
                            </select>
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label">Event Date</label>
                            <input type="date" name="date" class="form-control" autocomplete="off" required />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="form-outline mb-4">
                            <label class="form-label">Email Address</label>
                            <input type="email" name="email" class="form-control" autocomplete="off" />
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label">Event City</label>
                            <input type="text" name="city" class="form-control" autocomplete="off" />
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label">Artist Type</label>
                            <select name="artistType" class="form-control" id="artistTypeSelect" required>
                              <option value="singer">Singer</option>
                              <option value="musician">Musician</option>
                              <option value="live-band">Live Band</option>
                              <option value="dj">Dj</option>
                              <option value="actor">Actor</option>
                              <option value="comedian">Comedian</option>
                            </select>
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label">Budget</label>
                            <input type="text" name="budget" class="form-control" autocomplete="off" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label">Message</label>
                      <textarea name="message" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                    <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto"
                      type="submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- call to action end -->

        <script>
          document.addEventListener('DOMContentLoaded', function () {
            // Get all navigation links that have a "#" in the href attribute
            var navigationLinks = document.querySelectorAll('a[href^="#"]');
        
            // Add a click event listener to each navigation link
            navigationLinks.forEach(function (link) {
              link.addEventListener('click', function (e) {
                e.preventDefault(); // Prevent the default link behavior
        
                // Get the target section's ID from the link's href attribute
                var targetId = link.getAttribute('href').slice(1); // Remove the "#" symbol
        
                // Get a reference to the target section
                var targetSection = document.getElementById(targetId);
        
                // Scroll to the target section smoothly
                if (targetSection) {
                  targetSection.scrollIntoView({ behavior: 'smooth' });
                }
              });
            });
          });
        </script>
        

        <%- include("partials/footer"); -%>