<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- google search console tag -->
    <meta
      name="google-site-verification"
      content="TzXpFaKxH7wQ8-9EJCuewqhSEfAjsM-CfmipBzycAt0"
    />
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Book My Singer is a company that provides singers, live bands, musicians, instrumentalists, dj for events such as corporate events, college events, wedding events, house parties, private parties, virtual events. We offer a variety of singers, including playback singers, sufi singers, and live ghazal singers"
    />
    <meta
      name="keywords"
      content="book my singer, singer, live band, celebrity, musician, wedding event, corporate event, college event, hire, book, band"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/img/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/img/favicon/android-chrome-512x512.png"
    />
    <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png" />
    <link
      rel="shortcut icon"
      href="/img/favicon/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon/favicon-32x32.png"
    />
    <link rel="manifest" href="/img/favicon/site.webmanifest" />
    <meta
      property="og:title"
      content="Book my Singer | Book Live Singers, Bands & Celebrities for your events"
    />
    <meta
      property="og:description"
      content="Book My Singer is a company that provides singers, live bands, musicians, instrumentalists, dj for events such as corporate events, college events, wedding events, house parties, private parties, virtual events. We offer a variety of singers, including playback singers, sufi singers, and live ghazal singers"
    />
    <meta property="og:image" content="/img/Book-My-Singer-Logo-Big.png" />
    <meta property="og:url" content="https://bookmysinger.com/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="/img/Book-My-Singer-Logo-Big.png" />
    <meta name="language" content="en" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#f44336" />
    <meta name="msapplication-TileColor" content="#f44336" />
    <title>
      Book my Singer | Book Live Singers, Bands & Celebrities for your events
    </title>

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <style>
      svg {
        max-width: 100%;
        height: auto;
      }
    </style>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WMP6WBM");
    </script>
    <!-- End Google Tag Manager -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#menu-toggle").click(function () {
          $(".mil-menu-transition ul").toggleClass("show-menu");
        });
      });
    </script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WMP6WBM"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- top bar -->
    <div class="mil-top-panel">
      <!-- You need to remove the "mil-dot" class if you don't need a dot -->
      <a href="/" class="mil-logo"
        ><img src="/img/book-my-singer-logo.png" alt="Logo"
      /></a>

      <div class="mil-navigation">
        <nav id="swupMenu" class="mil-menu-transition">
          <ul>
            <li class="mil-has-children mil-active">
              <a href="">Home</a>
            </li>
            <li class="mil-has-children">
              <a href="/artist">Artists</a>
            </li>
            <li class="mil-has-children">
              <a href="/event-category">Events</a>
            </li>
            <li class="mil-has-children">
              <a href="/blog">Blog</a>
            </li>
            <li class="mil-has-children">
              <a href="/#contact">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="mil-top-panel-btns">
        <a href="/#contact" class="mil-contact-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-mail"
          >
            <path
              d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
            ></path>
            <polyline points="22,6 12,13 2,6"></polyline>
          </svg>
        </a>

        <div class="mil-menu-btn" id="menu-toggle">
          <span></span>
        </div>
      </div>
    </div>
    <!-- top bar end -->

    <div class="mil-content justify-content-center">
      <div class="mil-scroll-wrapper transition-fade" id="swupMain">
        <div class="mil-container-fw">
          <div
            class="mil-section-title mil-up"
            style="margin-bottom: 5%; margin-top: 5%"
          >
            <div class="mil-divider"></div>
            <h3>Privacy Policy</h3>
          </div>

          <div class="container">
            <p>
              Welcome to Book My Singer, an Event Management Company. This
              Privacy Policy is designed to help you understand how we collect,
              use, disclose, and safeguard your personal information when you
              use our website or services.
            </p>

            <p>
              By accessing or using our website and services, you acknowledge
              that you have read, understood, and agree to be bound by the terms
              of this Privacy Policy. If you do not agree with this policy,
              please do not use our website or services.
            </p>

            <h4>Information We Collect:</h4>
            <ol>
              <li>Name</li>
              <li>Contact Information (email address, phone number)</li>
              <li>Event Details and preferences</li>
            </ol>
            <h4>How We Use Your Information</h4>
            <p>We use the collected information for the following purposes:</p>
            <ol>
              <li>
                <h5>Booking and Coordination:</h5>
                <ul>
                  <li>
                    To facilitate the booking of singers, bands, musicians,
                    instrumentalists, and artists for events.
                  </li>
                </ul>
              </li>

              <li>
                <h5>Communication:</h5>
                <ul>
                  <li>
                    To communicate with you regarding your bookings, inquiries,
                    and updates related to our services.
                  </li>
                </ul>
              </li>

              <li>
                <h5>Improvement of Services:</h5>
                <ul>
                  <li>
                    To analyze and enhance our services, user experience, and
                    the functionality of our website.
                  </li>
                </ul>
              </li>

              <li>
                <h5>Marketing:</h5>
                <ul>
                  <li>
                    To send promotional emails, newsletters, and marketing
                    materials (you can opt-out at any time).
                  </li>
                </ul>
              </li>

              <li>
                <h5>Legal Compliance:</h5>
                <ul>
                  <li>
                    To comply with applicable legal requirements and
                    regulations.
                  </li>
                </ul>
              </li>
            </ol>

            <h3>Information Sharing:</h3>
            <p>
              We do not sell, trade, or otherwise transfer your personal
              information to third parties without your consent, except as
              outlined in this Privacy Policy or when required by law.
            </p>

            <p>We may share your information with:</p>
            <ul>
              <li>
                Service providers assisting in the provision of our services.
              </li>
              <li>
                Legal authorities when required by law or to protect our rights.
              </li>
            </ul>

            <h3>Security:</h3>
            <p>
              We take reasonable steps to protect your personal information from
              unauthorized access, disclosure, alteration, and destruction.
              However, no online data transmission is completely secure, and we
              cannot guarantee the security of your information.
            </p>

            <h3>Your Choices:</h3>
            <p>You have the right to:</p>
            <ul>
              <li>Access, correct, or delete your personal information.</li>
              <li>Opt-out of marketing communications.</li>
            </ul>

            <h3>Changes to this Privacy Policy:</h3>

            <p>
              We reserve the right to update and modify this Privacy Policy at
              any time. The updated policy will be effective upon posting on our
              website.
            </p>

            <h3>Contact Information:</h3>

            <p>
              If you have any questions or concerns regarding this Privacy
              Policy, please contact us at info@bookmysinger.com.
            </p>

            <p>
              By using our website and services, you consent to the terms of
              this Privacy Policy.
            </p>
          </div>

          <div
            class="mil-section-title mil-up"
            style="margin-bottom: 5%; margin-top: 5%"
          >
            <div class="mil-divider"></div>
          </div>

          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </div>
      </div>
    </div>

    <%- include("partials/footer"); -%>
  </body>
</html>
