<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success - Booking Confirmed</title>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WMP6WBM");
    </script>
    <!-- End Google Tag Manager -->
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/img/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/img/favicon/android-chrome-512x512.png"
    />
    <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png" />
    <link
      rel="shortcut icon"
      href="/img/favicon/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon/favicon-32x32.png"
    />
    <link rel="manifest" href="/img/favicon/site.webmanifest" />
    <meta
      property="og:title"
      content="Book my Singer | Book Live Singers, Bands & Celebrities for your events"
    />
    <meta
      property="og:description"
      content="Book My Singer is a company that provides singers, live bands, musicians, instrumentalists, dj for events such as corporate events, college events, wedding events, house parties, private parties, virtual events. We offer a variety of singers, including playback singers, sufi singers, and live ghazal singers"
    />
    <meta property="og:image" content="/img/Book-My-Singer-Logo-Big.png" />
    <meta property="og:url" content="https://bookmysinger.com/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="/img/Book-My-Singer-Logo-Big.png" />
    <meta name="language" content="en" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#f44336" />
    <meta name="msapplication-TileColor" content="#f44336" />
    <style>
      body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      h1 {
        font-size: 3rem;
        color: #4caf50;
      }

      p {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 20px;
      }

      a {
        text-decoration: none;
        color: #4caf50;
        font-weight: bold;
        border: 2px solid #4caf50;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
      }

      a:hover {
        background-color: #4caf50;
        color: #fff;
      }

      .image-container {
        margin-top: 20px;
        max-width: 100%;
      }

      @media screen and (max-width: 768px) {
        h1 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
    </style>
  </head>
  <body>
    <h1>Message Sent!</h1>
    <p>We received your request, our team will reach you soon.</p>
    <p>Thank you for choosing our singers for your event.</p>
    <a href="/">Back to Home</a>
  </body>
</html>
