<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success - Booking Confirmed</title>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WMP6WBM");
    </script>
    <!-- End Google Tag Manager -->
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/img/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/img/favicon/android-chrome-512x512.png"
    />
    <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png" />
    <link
      rel="shortcut icon"
      href="/img/favicon/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon/favicon-32x32.png"
    />
    <link rel="manifest" href="/img/favicon/site.webmanifest" />
    <meta
      property="og:title"
      content="Book my Singer | Book Live Singers, Bands & Celebrities for your events"
    />
    <meta
      property="og:description"
      content="Book My Singer is a company that provides singers, live bands, musicians, instrumentalists, dj for events such as corporate events, college events, wedding events, house parties, private parties, virtual events. We offer a variety of singers, including playback singers, sufi singers, and live ghazal singers"
    />
    <meta property="og:image" content="/img/Book-My-Singer-Logo-Big.png" />
    <meta property="og:url" content="https://bookmysinger.com/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="/img/Book-My-Singer-Logo-Big.png" />
    <meta name="language" content="en" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#f44336" />
    <meta name="msapplication-TileColor" content="#f44336" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #f2f2f2;
        font-family: "Outfit", sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      h1 {
        font-size: 3rem;
        color: #4caf50;
      }

      p {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 20px;
      }

      a {
        text-decoration: none;
        color: #4caf50;
        font-weight: bold;
        border: 2px solid #4caf50;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
      }

      a:hover {
        background-color: #4caf50;
        color: #fff;
      }

      .image-container {
        margin-top: 20px;
        max-width: 100%;
      }

      .embed-responsive-16by9 {
        width: 80%;
        margin-bottom: 5%;
      }

      .embed-responsive-16by9 iframe {
        margin-left: 10px;
        border-radius: 25px;
      }

      @media screen and (max-width: 768px) {
        h1 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
    </style>
  </head>
  <body>
    <h1>Message Sent! 🚀</h1>
    <p>
      Thank you for reaching out! We've received your request and our team will
      be in touch with you shortly.
    </p>
    <p>Meanwhile, get ready for an amazing event with our talented artists!</p>
    <a href="/">Back to Home 🏠</a>
    <h1>Featured Videos 🎥</h1>
    <p>These are some of our featured videos of previous events ✨</p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/inAICrTq1Gk?si=OxUyBsYZZQxKZ2z6"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/VeEj_vWOQ5E?si=9BeUBOsBKQZOhUvE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/oG6FQaL2vmQ?si=tiAZ32wmBKKBZDoo"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/DRrIobGaW6Q?si=XLrDQRHpQp5bHfon"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/y50e6l7nh5U?si=WFQ2Y7ysORBjjlkV"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/0OLiuySWIhw?si=5MIHe9Qlqdc_fa5g"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/ZI-b6d6Fn4g?si=hOFKV8xP60ePQa57"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
