<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- google search console tag -->
    <meta
      name="google-site-verification"
      content="TzXpFaKxH7wQ8-9EJCuewqhSEfAjsM-CfmipBzycAt0"
    />
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Book My Singer is a company that provides singers, live bands, musicians, instrumentalists, dj for events such as corporate events, college events, wedding events, house parties, private parties, virtual events. We offer a variety of singers, including playback singers, sufi singers, and live ghazal singers"
    />
    <meta
      name="keywords"
      content="book my singer, singer, live band, celebrity, musician, wedding event, corporate event, college event, hire, book, band"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/img/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/img/favicon/android-chrome-512x512.png"
    />
    <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png" />
    <link
      rel="shortcut icon"
      href="/img/favicon/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon/favicon-32x32.png"
    />
    <link rel="manifest" href="/img/favicon/site.webmanifest" />
    <meta
      property="og:title"
      content="Book My Singer | Book Live Singers, Bands & Celebrities for your events"
    />
    <meta
      property="og:description"
      content="Book My Singer is a company that provides singers, live bands, musicians, instrumentalists, dj for events such as corporate events, college events, wedding events, house parties, private parties, virtual events. We offer a variety of singers, including playback singers, sufi singers, and live ghazal singers"
    />
    <meta property="og:image" content="/img/Book-My-Singer-Logo-Big.png" />
    <meta property="og:url" content="https://bookmysinger.com/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="/img/Book-My-Singer-Logo-Big.png" />
    <meta name="language" content="en" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#f44336" />
    <meta name="msapplication-TileColor" content="#f44336" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Book My Singer | Book Live Singers, Bands & Celebrities for your events
    </title>

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/lite-youtube-embed.css" />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WMP6WBM");
    </script>
    <!-- End Google Tag Manager -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#menu-toggle").click(function () {
          $(".mil-menu-transition ul").toggleClass("show-menu");
        });
      });
    </script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WMP6WBM"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- top bar -->
    <div class="mil-top-panel">
      <!-- You need to remove the "mil-dot" class if you don't need a dot -->
      <a href="/" class="mil-logo"
        ><img src="/img/book-my-singer-logo.png" alt="Logo"
      /></a>

      <div class="mil-navigation">
        <nav id="swupMenu" class="mil-menu-transition">
          <ul>
            <li class="mil-has-children mil-active">
              <a href="">Home</a>
            </li>
            <li class="mil-has-children">
              <a href="/artist">Artists</a>
            </li>
            <li class="mil-has-children">
              <a href="/event-category">Events</a>
            </li>
            <li class="mil-has-children">
              <a href="/blog">Blog</a>
            </li>
            <li class="mil-has-children">
              <a href="/#contact">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="mil-top-panel-btns">
        <a
          href="/enquiry"
          class="mil-contact-btn"
          style="
            color: #f44336;
            font-size: larger;
            background-color: #202124;
            white-space: nowrap;
            margin-left: -10% !important;
          "
        >
          Enquire Now
        </a>

        <div class="mil-menu-btn" id="menu-toggle">
          <span></span>
        </div>
      </div>
    </div>
    <!-- top bar end -->

    <div class="mil-content justify-content-center">
      <div class="mil-scroll-wrapper transition-fade" id="swupMain">
        <div class="mil-container-fw">
          <div
            class="mil-section-title mil-up"
            style="margin-bottom: 5%; margin-top: 5%"
          >
            <div class="mil-divider"></div>
            <h3>Wedding</h3>
          </div>

          <section>
            <div class="row justify-content-between align-items-center">
              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/sangeet"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/Sangeet.webp"
                      alt="Sangeet"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Wedding Sangeet Event
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/haldi"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/Haldi.webp"
                      alt="Haldi"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Wedding Haldi Event
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/mehndi-ceremony"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/mehendi.webp"
                      alt="Mehendi"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Wedding Mehendi Event
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/mayra-bhaat"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/mayra.webp"
                      alt="Mayra Bhaat"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Wedding Mayra Bhaat
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/roka-ceremony"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/Roka.webp"
                      alt="Roka Ceremony"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Wedding Roka Ceremony
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/engagement"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/Engagement.webp"
                      alt="Engagement"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Wedding Engagement
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/reception"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/Reception.webp"
                      alt="Reception"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Wedding Reception
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/gujarati-wedding"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/gujarati.webp"
                      alt="Gujarati Wedding"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Gujarati Wedding
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/punjabi-wedding"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/punjabi.webp"
                      alt="Punjabi Wedding"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Punjabi Wedding
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/sindhi-wedding"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/sindhi.webp"
                      alt="sindhi Wedding"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Sindhi Wedding
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/rajasthani-marwari-wedding"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/rajasthani.webp"
                      alt="Rajasthani Marwari Wedinng"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Rajasthani Marwari Wedding
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/ganesh-puja"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/ganesh.webp"
                      alt="Ganesh Puja in wedding"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Ganesh Puja in Wedding
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/sufi-nights"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/sufi.webp"
                      alt="Sufi Singer for Wedding"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Sufi Singer for Wedding
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/ghazal-singer"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/ghazal.webp"
                      alt="Ghazal Singer"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Wedding Ghazal
                    </h4>
                  </div>
                </a>
              </div>

              <div class="col-lg-6">
                <a
                  class="mil-blog-card mil-mb-60"
                  href="/event-category/wedding/virtual-wedding"
                >
                  <div class="mil-cover mil-up">
                    <img
                      src="../img/events-type/wedding/virtual.webp"
                      alt="Virtual Wedding"
                    />
                  </div>
                  <div class="mil-descr">
                    <h4 class="mil-up mil-mb-15">
                      Hire Artist for Virtual Wedding
                    </h4>
                  </div>
                </a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <%- include("partials/footer"); -%>
  </body>
</html>
