/* Styles for the modal overlay */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* semi-transparent background */
}

.contact-section {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.but {
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: -15% !important;
}

/* Center the modal content */
.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Style for the modal content */
.modal-content {
  background-color: #202124;
  color: #f44336;
  width: 80%; /* Adjust as needed */
  max-width: 800px; /* Maximum width for larger screens */
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background-color: #202124;
  color: #f44336;
}

.modal-body {
  background-color: #eee;
  padding: 3%;
}

/* Additional styles for buttons */
button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #d32f2f;
}

/* Additional styles for labels and inputs */
label {
  display: block;
  margin-top: 10px;
  color: #f44336;
}

input.popup[type="text"],
input.popup[type="date"],
input.popup[type="number"],
input.popup[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .modal {
    top: -20%;
  }
  .modal-content {
    width: 90%; /* Adjust as needed for smaller screens */
  }
}
