/* Styles for the modal overlay */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* semi-transparent background */
}

.contact-section {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.but {
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: -15% !important;
}

/* Center the modal content */
.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Style for the modal content */
.modal-content {
  background-color: #202124;
  color: #f44336;
  width: 100%; /* Adjust as needed */
  max-width: 95%; /* Maximum width for larger screens */
  max-height: 80%;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background-color: #202124;
  color: #f44336;
}

.modal-body {
  background-color: #eee;
  padding: 3%;
}

/* Additional styles for buttons */
button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #d32f2f;
}

/* Additional styles for labels and inputs */
label {
  display: block;
  margin-top: 10px;
  color: #f44336;
  font-size: 16px;
  margin-right: 10px;
}

input.popup[type="text"],
input.popup[type="number"],
input.popup[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.options {
  margin-left: 5%;
  margin-right: 5%;
}

.mil-p-90-30 {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.buts .mil-icon-box {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 375px) {
  .modal-content {
    margin-top: 100% !important;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
  }

  .view {
    width: calc(33.33% - 20px) !important; /* Adjust width as needed */
    margin-bottom: 20px;
    /* Other styles for your buttons */
  }

  .city-section {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .city {
    width: calc(30% - 20px) !important; /* Adjust width as needed */
    margin-bottom: 20px;
  }

  .city .mil-service-icon img {
    width: 300% !important;
    height: 300% !important;
    margin-left: -100% !important;
    margin-top: -100% !important;
  }

  .city .mil-service-icon {
    width: 60px !important;
    height: 60px !important;
  }

  .city .mil-icon-box h5 {
    font-size: small;
  }
}

@media only screen and (min-width: 390px) and (max-width: 430px) {
  .modal-content {
    margin-top: 50% !important;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
  }

  .view {
    width: calc(33.33% - 20px) !important; /* Adjust width as needed */
    margin-bottom: 20px;
    /* Other styles for your buttons */
  }

  .city {
    width: calc(30% - 20px) !important; /* Adjust width as needed */
    margin-bottom: 20px;
  }

  .city .mil-service-icon img {
    width: 300% !important;
    height: 300% !important;
    margin-left: -100% !important;
    margin-top: -100% !important;
  }

  .city .mil-service-icon {
    width: 60px !important;
    height: 60px !important;
  }

  .city .mil-icon-box h5 {
    font-size: small;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .modal-content {
    margin-top: 50% !important;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
  }

  .view {
    width: calc(33.33% - 20px) !important; /* Adjust width as needed */
    margin-bottom: 20px;
    /* Other styles for your buttons */
  }

  .city {
    width: calc(30% - 20px) !important; /* Adjust width as needed */
    margin-bottom: 20px;
  }

  .city .mil-service-icon img {
    width: 300% !important;
    height: 300% !important;
    margin-left: -100% !important;
    margin-top: -100% !important;
  }

  .city .mil-service-icon {
    width: 60px !important;
    height: 60px !important;
  }

  .city .mil-icon-box h5 {
    font-size: small;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1024px) {
  .modal-content {
    margin-top: 50% !important;
  }
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .modal {
    top: -20%;
  }
  .modal-content {
    width: 90%; /* Adjust as needed for smaller screens */
  }
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  z-index: 9999; /* Ensure it's above other content */
  display: none; /* Initially hidden */
}

#loadingPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #202124;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid #f44336;
  border-top-color: #333;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
