.mil-top-panel {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgb(32, 33, 36);
  border-bottom: solid 1px rgb(54, 55, 58);
  pointer-events: all;
}

.mil-top-panel .mil-logo {
  background-color: #202124;
  width: 120px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 600;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-top-panel .mil-logo:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

.mil-top-panel .mil-top-panel-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mil-top-panel .mil-top-panel-btns .mil-contact-btn {
  background-color: rgb(244, 67, 54);
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-top-panel .mil-top-panel-btns .mil-contact-btn:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

@media screen and (max-width: 1200px) {
  .mil-top-panel .mil-top-panel-btns {
    padding-right: 30px;
  }

  .mil-top-panel .mil-top-panel-btns .mil-contact-btn {
    background-color: transparent;
    width: auto;
    margin-right: 20px;
  }
}

.mil-navigation {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.mil-navigation nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mil-navigation nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.mil-navigation nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
  list-style-type: none;
}

.mil-navigation nav ul li:last-child {
  margin-right: 0;
}

.mil-navigation nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  white-space: nowrap;
  padding: 0 10px;
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-navigation nav ul li.mil-active > a {
  position: relative;
}

.mil-navigation nav ul li.mil-active > a:before {
  content: "";
  margin-right: 10px;
  position: absolute;
  left: -5px;
  display: block;
  width: 7px;
  height: 7px;
  background-color: rgb(244, 67, 54);
  border-radius: 50%;
}

.mil-navigation nav ul li.mil-has-children {
  position: relative;
  padding-right: 10px;
}

.mil-navigation nav ul li.mil-has-children:after {
  content: "";
  width: 100%;
  height: 40px;
  background-color: transparent;
  position: absolute;
  bottom: -40px;
  left: 0;
}

@media screen and (max-width: 1200px) {
  .mil-navigation {
    position: absolute;
    top: 90px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(18, 24, 32, 0.1);
    box-shadow: 0px 0px 40px 0px rgba(18, 24, 32, 0.1);
    width: 100%;
    background-color: rgb(32, 33, 36);
    -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  }

  .mil-navigation nav {
    padding: 30px 0;
  }

  .mil-navigation nav ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .mil-navigation nav ul li {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .mil-navigation nav ul li:last-child {
    margin-bottom: 0;
  }

  .mil-navigation nav ul li a {
    color: rgb(255, 255, 255);
    position: relative;
    padding: 0 15px;
  }

  .mil-navigation nav ul li a:hover {
    color: rgb(255, 255, 255);
  }

  .mil-navigation nav ul li.mil-active > a {
    color: rgb(244, 67, 54);
  }

  .mil-navigation nav ul li.mil-active > a:before {
    display: none;
  }

  .mil-navigation nav ul li.mil-has-children {
    overflow: hidden;
    height: auto;
    padding-right: 0;
  }

  .mil-navigation nav ul li.mil-has-children:before {
    display: none;
  }
}

:root {
  --swiper-theme-color: #007aff;
}

:root {
  --swiper-navigation-size: 44px;
}

:root {
  --common-white: #fff;
  --common-white-two: #fff;
  --common-black: #000;
  --theme-primary: #1b74e4;
  --theme-secondary: #fa5252;
  --body-text: #44566c;
  --body-heading: #000;
  --heading-black: #0f172a;
  --light-white: #f3f6f6;
  --light-white-2: #f8fbfb;
  --prink: #fff4f4;
  --catkrill: #eef5fa;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--body-text);
  font-size: 16px;
  line-height: 28px;
}

img {
  max-width: 100%;
}

a,
button,
img {
  transition: 0.3s;
}

a:focus {
  text-decoration: none;
  outline: none;
}

a,
a:focus,
a:hover,
button {
  color: inherit;
  text-decoration: none;
}

a,
button {
  outline: medium none;
}

button:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Outfit", sans-serif;
  color: var(--body-heading);
  margin-top: 0;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 15px;
}

h4 a {
  color: inherit;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: var(--body-text);
}

::selection {
  background-color: #037fff;
  color: #fff;
  text-shadow: none;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pl-60 {
  padding-left: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  --bs-gutter-x: 30px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.z-index-3 {
  position: relative;
}

.z-index-3 {
  z-index: 3;
}

.page-wrapper {
  height: 100vh;
  width: 100vw;
  display: block;
  background-position: 50%;
  background-size: cover;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 240px;
  padding-bottom: 120px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .page-wrapper {
    padding-top: 120px;
  }
}

@media (max-width: 767px),
  only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (min-width: 992px) and (max-width: 1199px) {
  .page-wrapper {
    padding-top: 120px;
  }
}

.bostami-page-title-wrap p {
  max-width: 632px;
}

.page-title {
  position: relative;
  display: inline-block;
  font-family: "Outfit", sans-serif;
}

@media lg,
  only screen and (min-width: 1200px) and (max-width: 1399px),
  only screen and (min-width: 768px) and (max-width: 991px) {
  .page-title {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .page-title {
    font-size: 32px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .page-title {
    font-size: 34px;
  }
}

.page-title:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: var(--theme-primary);
  left: 122%;
  top: 50%;
  transform: translatey(-50%);
  border-radius: 5px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .page-title:after {
    width: 70%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .page-title:after {
    width: 100%;
  }
}

.bostami-page-content-wrap {
  background-color: var(--common-white);
  border-radius: 20px;
}

.bostami-section-title-wrap .section-title {
  margin-bottom: 0;
  font-weight: 500;
  padding-top: 2%;
}

@media (max-width: 767px),
  md,
  only screen and (min-width: 1200px) and (max-width: 1399px),
  only screen and (min-width: 992px) and (max-width: 1199px) {
  .bostami-section-title-wrap .section-title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-wrapper:is(.pl-60) {
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .section-wrapper:is(.pl-60) {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-wrapper:is(.pr-60) {
    padding-right: 40px;
  }
}

@media (max-width: 767px) {
  .section-wrapper:is(.pr-60) {
    padding-right: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (min-width: 992px) and (max-width: 1199px) {
  .bostami-page-area .bostami-page-wrap:is(.pl-80) {
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .bostami-page-area .bostami-page-wrap:is(.pl-80) {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bostami-page-area .bostami-page-wrap:is(.pl-80) {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (min-width: 992px) and (max-width: 1199px) {
  .bostami-page-area .bostami-page-wrap:is(.pr-80) {
    padding-right: 40px;
  }
}

@media (max-width: 767px) {
  .bostami-page-area .bostami-page-wrap:is(.pr-80) {
    padding-right: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bostami-page-area .bostami-page-wrap:is(.pr-80) {
    padding-right: 30px;
  }
}

.home-3 .page-title:after {
  background: linear-gradient(97deg, #fa5252, #dd2476);
}

.page-wrapper.home-3 {
  padding-top: 50px;
  padding-bottom: 80px;
}

.mobile-menu-wrap .mobile-menu .mean-bar .mean-nav ul li:is(.active) a {
  color: var(--theme-secondary);
}

.mobile-menu-wrap
  .mobile-menu
  .mean-bar
  .mean-nav
  ul
  li:is(.active)
  a
  span
  svg
  * {
  fill: var(--theme-secondary);
}

.bastami-main-menu ul li:is(.active) {
  background-color: var(--theme-primary);
}

.bastami-main-menu ul li:is(.active) a {
  color: var(--common-white);
}

.bastami-main-menu ul li:is(.active) a span svg * {
  fill: var(--common-white);
}

.bastami-main-menu ul li:is(.active) a span img {
  filter: brightness(5);
}

.main-style-2 .bostami-main-menu-wrap .bastami-main-menu ul li:is(.active) a {
  background: #fa5252;
  background: linear-gradient(97deg, #fa5252, #dd2476);
}

.home-3 .bastami-main-menu ul li:is(.active) {
  background: linear-gradient(97deg, #fa5252, #dd2476);
}

.home-1 .mobile-menu-wrap .mobile-menu .mean-bar .mean-nav ul li:is(.active) a {
  color: #1b74e4;
}

.home-1
  .mobile-menu-wrap
  .mobile-menu
  .mean-bar
  .mean-nav
  ul
  li:is(.active)
  a
  span
  img {
  filter: saturate(20.5);
}

.home-1
  .mobile-menu-wrap
  .mobile-menu
  .mean-bar
  .mean-nav
  ul
  li:is(.active)
  a
  span
  svg
  * {
  fill: #1b74e4;
}

.bostami-parsonal-info-area {
  width: 400px;
  border-radius: 20px;
  background-color: var(--common-white);
  text-align: center;
  padding: 40px 30px;
  margin-left: -100px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .bostami-parsonal-info-area {
    width: 340px;
    margin-left: -40px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .bostami-parsonal-info-area {
    width: 100%;
    margin-left: 0;
    padding: 30px 15px;
    top: -40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (min-width: 992px) and (max-width: 1199px) {
  .bostami-parsonal-info-area {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    top: -40px;
  }
}

@media (max-width: 767px) {
  .bostami-parsonal-info-area {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    padding: 40px 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bostami-parsonal-info-area {
    padding: 40px 30px;
  }
}

.bostami-parsonal-info-img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  overflow: hidden;
  margin: -180px auto 21px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .bostami-parsonal-info-img {
    width: 210px;
    height: 210px;
    margin-top: 0;
  }
}

@media (max-width: 767px),
  only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (min-width: 992px) and (max-width: 1199px) {
  .bostami-parsonal-info-img {
    margin-top: 0;
  }
}

.bostami-parsonal-info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bostami-parsonal-info-name {
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--common-black);
  font-family: "Outfit", sans-serif;
  margin-bottom: 8px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .bostami-parsonal-info-name {
    font-size: 20px;
  }
}

@media (max-width: 767px),
  only screen and (min-width: 768px) and (max-width: 991px) {
  .bostami-parsonal-info-name {
    font-size: 22px;
  }
}

.bostami-parsonal-info-bio {
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--common-black);
  font-family: "Outfit", sans-serif;
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 4px 20px;
}

@media (max-width: 767px),
  only screen and (min-width: 1200px) and (max-width: 1399px),
  only screen and (min-width: 768px) and (max-width: 991px) {
  .bostami-parsonal-info-bio {
    font-size: 14px;
  }
}

.bostami-parsonal-info-contact {
  background-color: var(--light-white);
  border-radius: 16px;
  text-align: left;
  padding: 20px 30px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .bostami-parsonal-info-contact {
    padding: 20px 15px;
  }
}

@media (max-width: 767px) {
  .bostami-parsonal-info-contact {
    padding: 20px 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bostami-parsonal-info-contact {
    padding: 20px 30px;
  }
}

.bostami-parsonal-info-contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bostami-parsonal-info-contact-item:not(:first-child) {
  border-top: 1px solid #e3e3e3;
}

.bostami-parsonal-info-contact-item .icon {
  flex: 0 0 auto;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: #fdfdfd;
  border-radius: 8px;
  text-align: center;
  line-height: 44px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .bostami-parsonal-info-contact-item .icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    transition: 0.3s;
  }
}

.bostami-parsonal-info-contact-item .icon:hover {
  background-color: var(--theme-primary);
  color: var(--common-white-two) !important;
}

.bostami-parsonal-info-contact-item .text {
  display: inline-block;
}

.bostami-parsonal-info-contact-item .text span {
  display: block;
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 3px;
  text-align: left;
}

.bostami-parsonal-info-contact-item .text p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--common-black);
  margin-bottom: 0;
  text-transform: capitalize;
  text-align: left;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .bostami-parsonal-info-contact-item .text p {
    font-size: 14px;
  }
}

.home-3 .bostami-parsonal-info-area {
  width: 100%;
  margin-left: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home-3 .bostami-parsonal-info-contact {
    padding: 20px 10px;
  }

  .home-3 .bostami-parsonal-info-contact-item .text p {
    font-size: 14px;
  }
}

.home-3 .bostami-parsonal-info-contact-item .icon:hover {
  background: linear-gradient(97deg, #fa5252, #dd2476);
}

.embed-responsive {
  margin-bottom: 10%;
  border-radius: 5%;
  width: 100% !important;
  height: 100% !important;
}

.video-div {
  margin-top: 5%;
  border-radius: 50% !important;
}

.item h1 {
  font-size: 1.5em;
}

.div {
  background-color: #f2f2f2;
  /* border: 1px solid #000; */
}

.text {
  text-align: center;
}

.bookmysinger {
  margin-top: 5%;
}

.bookmysinger
  .bostami-page-content-wrap
  .section-wrapper
  .bostami-page-title-wrap
  p {
  max-width: 100% !important;
  text-align: justify;
}

#readMoreBtn {
  margin-top: 10px;
}

.video {
  margin-top: 5%;
}

.bostami-parsonal-info-img {
  border: 1px solid #b5b5b5;
}

.gallery-title {
  z-index: 1;
}

.mil-icon-box .mil-service-icon {
  background-color: #fff !important;
}

.fillter-btn-wrap .fillter-btn:is(.is-checked) {
  color: var(--theme-primary);
}

.home-3 .fillter-btn-wrap .fillter-btn:is(.is-checked) {
  color: #fa5252;
}

.blog-slider-wrap .blog-progation span:is(.swiper-pagination-bullet-active) {
  background-color: var(--theme-primary);
}

.page-wrapper-2
  .blog-slider-wrap
  .blog-progation
  span:is(.swiper-pagination-bullet-active) {
  background-color: #fa5252;
}

.home-3
  .blog-slider-wrap
  .blog-progation
  span:is(.swiper-pagination-bullet-active) {
  background-color: #f95054;
}

.contact-form .input-box:is(.height) {
  height: 40px;
}

.dark-theme
  .page-wrapper
  .mobile-menu-wrap
  .mobile_menu
  .mean-bar
  .mean-nav
  ul
  li:is(.active)
  a
  span
  img {
  filter: saturate(25);
}

.dark-theme .home-3 .bastami-main-menu ul li:is(.active) a span svg * {
  fill: #fff;
}

.dark-theme .home-3 .bastami-main-menu ul li:is(.active) {
  background: linear-gradient(97deg, #fa5252, #dd2476);
}

.dark-theme
  .home-1
  .mobile-menu-wrap
  .mobile_menu
  .mean-bar
  .mean-nav
  ul
  li:is(.active)
  a
  span
  img {
  filter: saturate(25);
}